:root {
    --maincolor: rgb(255, 105, 105);
    --textcolor: white;
    --backgroundcolor: #eee;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    touch-action: manipulation;
}

body {
    margin: 0px;
    height: 5000px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: linear-gradient(to right, rgb(251, 174, 255), rgba(0, 4, 0, 0)),
        url("wallyx.jpg");
}

header {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    background-image:
        radial-gradient(circle, transparent -33%, rgba(6, 8, 161, 0.386) 5%),
        linear-gradient(to right, rgba(0, 4, 255, 0), rgba(0, 4, 0, 0))
        /* background-image: linear-gradient(rgb(1, 17, 54), rgba(0, 0, 0, 1)), url("bak.jpg"); */
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.navy {
    color: var(--textcolor);
    margin-left: 20px;
    height: 10px;
    margin-top: calc(90px - 30px);
    font-family: 'Cairo', sans-serif;
    font-size: 1em;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 430ms;
}

.navy:hover {
    color: var(--maincolor)
}

.search {
    margin-top: 50px;
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;

}

#headersearch {
    margin-top: 90px;
    margin-left: 15px;
    height: 33px;
    width: 350px;
    border: none;
    outline: 1px solid #EEE;
    border-radius: 30px;
    font-family: 'Cairo', Sans-serif;
    text-align: right;
    font-size: 1.2em;
}

.flexbox {
    padding-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
}

.fleximages {
    width: 1300px;
    height: 250px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.flexbox2 {
    padding-top: 350px;
    padding-bottom: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
}

.flexbox3 {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}


.fleximages2 {
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.f1, .f2, .f3, .f4 {
    width: 20%;
    background-color: red;
    color: black;
    height: 70%;
    border: 2px solid salmon;
}

.f1 img, .f2 img, .f3 img, .f4 img {
    width: 100%;
    height: 100%;
}

.f1:hover, .f2:hover, .f3:hover, .f4:hover {
    width: 30%;
    height: 90%;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
    filter: brightness(1.3);
}

.soma {
    width: 100%;
    text-align: center;
    position: absolute;
    margin: 0px auto 0px auto;
    font-size: 2em;
    color: var(--maincolor);
    font-family: 'Cairo', sans-serif;
}

.parent{
    position: relative;
}
.notfound{
    padding: 300px;
    font-family: 'Cairo', sans-serif;
    font-size: 3em;
    color: var(--maincolor);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* .soma2 {
    padding-top: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    margin: 0px auto 0px auto;
    font-size: 2em;
    color: var(--textcolor);
    font-family: 'Cairo', sans-serif;
}

.soma::before {
    content: '';
    width: 30%;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: absolute;
    left: 13%;
    top: 50%;
    z-index: 1;
}

.soma::after {
    content: '';
    width: 30%;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: absolute;
    right: 13%;
    top: 50%;
    z-index: 1;
}

.soma2::before {
    padding-top: 30px;
    content: '';
    width: 29%;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: absolute;
    left: 13%;
    top: 50%;
    z-index: 1;
}

.soma2::after {
    padding-top: 30px;
    content: '';
    width: 29%;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: absolute;
    right: 13%;
    top: 50%;
    z-index: 1;
} */